:root {
    --fuenteHeading: 'Roboto', sans-serif;
    --fuenteParrafos: 'PT Sans', sans-serif;
    --primario: #5b47bf;
    --secundario: #2daae1;
    --terciario: #6ca5ca;
    --blanco: #FFF;
    --negro: #000;
    --oscuro: #333;
    --gris-claro: #a3b3c1;
    --gris-oscuro: #7A7A7A;
    --fondo: #54595F;
}

/* GLOBALES */

html {
    box-sizing: border-box;
    min-height: 100%;
    /* scroll-snap-type: y mandatory; */
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--terciario);
    line-height: 1.2;
}

.contenedor {
    width: min(95%, 120rem);
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 31px 8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 31px 8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 31px 8px rgba(0, 0, 0, 0.75);
}

main {
    background-color: var(--gris-claro);
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
}

p {
    font-family: var(--fuenteParrafos);
}

img {
    max-width: 100%;
}

/** UTILIDADES **/

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.center-text {
    text-align: center;
}

/** HEADER **/

/* .top-line-text {
    background-color: var(--gris-oscuro);
    padding: .2rem;
    color: var(--negro);
    font-weight: 300;
    text-transform: uppercase;
} */

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    background-color: var(--blanco);
    -webkit-box-shadow: inset 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
}

@media (min-width: 1240px) {
    .header {
        display: flex;
        flex-direction: row;
    }
}

.header__logo {
    max-width: 20rem;
    
}

@media (min-width: 726px) {
    .header__logo {
        max-width: 28rem;
        margin-left: 2rem;
    }
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 726px) {
    .navbar {
        flex-direction: row;
        margin-top: 1.5rem;
    }
}

@media (min-width: 1240px) {
    .navbar {
        margin-top: 0;
    }
}

.navbar__enlace {
    font-family: var(--fuenteHeading);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 .5rem;
    padding: .5rem 1rem;
    color: var(--primario);
}

.navbar__enlace-activo,
.navbar__enlace:hover {
    color: var(--secundario);
}

/** INICIO **/

.imagen-portada {
    background-image: url(/img/img-portada-def.png);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 35rem;

}

@media (min-width: 726px) {
    .imagen-portada {
        height: 50rem;
    }
}

.imagen-portada-sombra {
    position: absolute;
    background-color: rgb( 0 0 0 / 70%);
    height: 100%;
    width: 100%;
}

.imagen-portada__texto {
    margin: 2rem 3rem;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-transform: uppercase;
}

.imagen-portada__texto__cita {
    max-width: 20rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--terciario);
    text-align: left;
    margin: auto;
}

.imagen-portada__texto__firma {
    color: var(--secundario);
    text-align: center;
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1.2rem;
}

@media (min-width: 726px) {
    .imagen-portada__texto {
        margin: 4rem 0 0 5rem;
        font-family: var(--fuenteHeading);
        color: var(--blanco);
        text-transform: uppercase;
    }

    .imagen-portada__texto__cita {
        max-width: 34rem;
        font-size: 2rem;
        text-align: left;
        margin:unset;
    }
    
    .imagen-portada__texto__firma {
        text-align: left;
    }
}

/** NOSOTROS **/

.imagen-nosotros {
    background-image: url(/img/business-3528035_1920.jpg);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50rem;

}

@media (min-width: 726px) {
    .imagen-nosotros {
        height: 50rem;
    }
}

.imagen-nosotros-sombra {
    position: absolute;
    background-color: rgb( 0 0 0 / 10%);
    height: 100%;
    width: 100%;
}

.nosotros__texto {
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    max-width: 20rem;
    text-align: center;
}

.nosotros__texto__titulo {
    font-size: 2rem;
    font-family: var(--fuenteHeading);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--oscuro);
    margin: 1rem 0;
}

.nosotros__texto__parrafo {
    font-size: 1.5rem;
    font-family: var(--fuenteParrafos);
    color: var(--negro);
    font-weight: 400;
    margin: 1rem 0;
}

@media (min-width: 726px) {
    .nosotros__texto {
        margin: 3rem 0 0 5rem;
        max-width: 35rem;
        text-align: center;
    }
    
}


.nosotros__texto__parrafo span {
    font-weight: 700;
}


/** EQUIPO **/


.equipo__titulo {
    font-size: 2rem;
    font-family: var(--fuenteHeading);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--oscuro);
    padding: 4rem 0 3rem 0;
    text-align: center;
}

.equipo__miembros {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    padding-bottom: 3rem;
}

@media (min-width: 1240px) {
    .equipo__miembros {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        margin: 0 2rem;
        padding-bottom: 3rem;
    }
}


.equipo__miembro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}


.equipo__miembro__nombre {
    font-family: var(--fuenteHeading);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.equipo__miembro__titulo {
    font-family: var(--fuenteHeading);
    text-align: center;
    margin-bottom: 2rem;
}

.equipo__icono {
    color: var(--primario);
    margin-bottom: 2rem;
}

.equipo__icono:hover {
    color: var(--negro);
}

.equipo__miembro__texto {
    font-family: var(--fuenteParrafos);
    font-size: 1.1rem;
}


/** SERVICIOS **/

.servicios__titulo {
    font-size: 2rem;
    font-family: var(--fuenteHeading);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--oscuro);
    padding: 4rem 0 3rem 0;
    text-align: center;
}

.servicios {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 3rem;
    margin: 0 3rem;
}

@media (min-width: 726px) {
    .servicios {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        margin: 0 3rem;
    }
}


.servicio__titulo {
    margin: 1rem 0 0 1rem;
    display: flex;
}

@media (min-width: 726px) {
    .servicio__titulo {
        justify-content: center;
    }
}


.servicio__titulo__texto {
    /* text-transform: uppercase; */
    font-weight: 700;
    margin: .5rem 0 2rem 2rem;
}

.servicio__descripcion {
    line-height: 1.5;
    margin-bottom: 3rem;
}



/** FOOTER **/

.footer {
    min-height: 3rem;
    background-color: var(--negro);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 726px) {
    .footer {
        flex-direction: row;
    }
}

.footer__copyright {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.footer__logo {
    max-width: 4rem;
}

@media (min-width: 726px) {
    .footer__logo {
        max-width: 8rem;
    }
}

.footer__copyright__symbol {
    color: var(--secundario);
    margin: 0 .5rem 0 1rem;
}

.footer__copyright__text {
    color: var(--terciario);
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: 1rem;
}

.footer__redes {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

@media (min-width: 726px) {
    .footer__redes {
        display: flex;
        align-items: center;
        margin: unset;
    }
}

.footer__text {
    font-family: var(--fuenteHeading);
    text-transform: uppercase;
    font-size: .8rem;
    color: var(--blanco);
    margin: 0 .5rem;
}

@media (min-width: 1240px) {
    .footer__text {
        font-size: 1rem;
    }
}

.footer__iconos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icono {
    color: var(--secundario);
    margin: 0 1rem;
}

.icono:hover {
    color: var(--primario);
}